<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title" style="color: orangered; font-weight: bold;">QUẢN LÝ ĐƠN THU MUA
          </h4>
        </div>
        <div class=" card-body">
          <label style="margin-right: 20px;"> </label>
          <div class="row">
            <input style="margin: 20px;" type="text"
                   [(ngModel)]="searchNameText" required id="searchNameText" (ngModelChange)="SearchChange()"
                   name="searchNameText" placeholder="Tên Tiếng Việt"/>
            <input style="margin: 20px;" type="text"
                   [(ngModel)]="searchSaleDate" required id="searchSaleDate" (ngModelChange)="SearchChange()"
                   name="searchSaleDate" placeholder="Ngày Bán"/>
            <a [routerLink]="['/invoice']"><button class="btn btn-fill btn-danger" type="button" style="background-image: linear-gradient(to bottom left, #6bd5f0, #3358f4, #6bd5f0); margin-top: 10px;">Thêm Mới</button></a>
            </div>

          <p-table dataKey="id" editMode="row" #tt [columns]="cols" [value]="data" [paginator]="true"
                   [rows]="20" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
              <tr>
                <th></th>
                <th>Tên Khách Bán</th>
                <th>Ngày Bán</th>
                <th>Số Máy Bán</th>
                <th>Tổng Số Tiền</th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="rowData">
                <td>{{i + 1}}</td>
                <td>{{rowData.name_vietnamese}}</td>
                <td>{{rowData.sale_date | date: dateFormat }}</td>
                <td>{{rowData.quantity}}</td>
                <td>{{rowData.total_money}}</td>
                <td style="text-align:center">
                  <button (click)="onRowEditInit(rowData)" pButton pRipple type="button"
                          pInitEditableRow icon="pi pi-pencil"
                          class="p-button-rounded p-button-text"></button>

                </td>
                <td style="text-align:center">
                  <button style="background-color: orangered;" pButton type="button"
                          pCancelEditableRow icon="pi pi-trash" class="ui-button-danger"
                          (click)="onRowDelete(rowData,ri)"
                          class="p-button-rounded p-button-text"></button>
                </td>
                
              </tr>
            </ng-template>
          </p-table>
          <p-dialog
            header="Chi Tiết Đơn Hàng"
            [(visible)]="displayDetailModal"
            [modal]="true"
            [style]="{width: '50vw'}"
            [baseZIndex]="10000"
            [draggable]="false"
            [resizable]="false">
            <div class="row">

            </div>
            <p-table
              [value]="listDevices"
              dataKey="vin"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Tên</th>
                  <th>IMEI</th>
                  <th>Màu</th>
                  <th>Tình Trạng</th>
                  <th>Giá</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-device>
                <tr [pSelectableRow]="device">
                  <td>{{device.name}}</td>
                  <td>{{device.imei}}</td>
                  <td>{{device.color}}</td>
                  <td>{{device.status | deviceStatus}}</td>
                  <td>{{device.price}}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-dialog>
        </div>
      </div>
    </div>

  </div>
</div>
