<div class=" content">

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title" style="color: orangered; font-weight: bold;">SẢN PHẨM</h4>
        </div>
        <div class=" card-body">

          <div class=" row" *ngIf="this.editData.id == null">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Danh mục sản phẩm</label> <label style="color: #ec250d;">* &nbsp;</label>
                <p-dropdown [options]="categories" (onChange)="onChangeCategory($event.value)"
                  [(ngModel)]="selectedCategory" optionLabel="label" optionValue="value"></p-dropdown><br />
              </div>
            </div>
          </div>
          <div class=" row" *ngIf="this.editData.id != null" [formGroup]="danhmucform">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Danh mục sản phẩm</label> <label style="color: #ec250d;"> *</label>
                <p-dropdown [options]="categories" (onChange)="onChangeCategory($event.value)"
                  formControlName="danhmucspform"></p-dropdown><br />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Tên sản phẩm </label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Name" type="text" [(ngModel)]="name" />
              </div>
            </div>
            <!-- <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Nhà cung cấp</label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Summary" [(ngModel)]="summary" type="text" />
              </div>
            </div> -->
          </div>
          <br />
          <br />
          <div class="row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Nhà cung cấp 1</label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Summary" [(ngModel)]="summary" type="text" />
              </div>
            </div>
          </div>

          <div class=" row">
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Giá </label>
                <input class=" form-control" placeholder="Price" [(ngModel)]="price" type="text" />
              </div>
            </div>
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Ghi chú </label>
                <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi" type="text" />
              </div>
            </div>
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Thứ tự </label>
                <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no" type="number" min="1" max="5" />
              </div>
            </div>


          </div>

          <!-------------------  -->
          <div *ngIf="them >= 2">
            <br /><br />
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nhà cung cấp 2</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Summary" [(ngModel)]="summary2" type="text" />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Giá </label>
                  <input class=" form-control" placeholder="Price" [(ngModel)]="price2" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ghi chú </label>
                  <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi2" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Thứ tự </label>
                  <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no2" type="number" min="1" max="5" />
                </div>
              </div>


            </div>

          </div>
          <!------------------------------>

          <div *ngIf="them >= 3">

            <br /><br />
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nhà cung cấp 3</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Summary" [(ngModel)]="summary3" type="text" />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Giá </label>
                  <input class=" form-control" placeholder="Price" [(ngModel)]="price3" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ghi chú </label>
                  <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi3" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Thứ tự </label>
                  <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no3" type="number" min="1" max="5" />
                </div>
              </div>


            </div>

          </div>

          <!------------------------------>
          <div *ngIf="them >= 4">
            <br /><br />
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nhà cung cấp 4</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Summary" [(ngModel)]="summary4" type="text" />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Giá </label>
                  <input class=" form-control" placeholder="Price" [(ngModel)]="price4" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ghi chú </label>
                  <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi4" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Thứ tự </label>
                  <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no4" type="number" min="1" max="5" />
                </div>
              </div>


            </div>
          </div>

          <!------------------------------>
          <div *ngIf="them >= 5">
            <br /><br />
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nhà cung cấp 5</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Summary" [(ngModel)]="summary5" type="text" />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Giá </label>
                  <input class=" form-control" placeholder="Price" [(ngModel)]="price5" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ghi chú </label>
                  <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi5" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Thứ tự </label>
                  <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no5" type="number" min="1" max="5" />
                </div>
              </div>


            </div>

          </div>
          <!------------------------------>

          <div *ngIf="them >= 6">
            <br /><br />
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nhà cung cấp 6</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Summary" [(ngModel)]="summary6" type="text" />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Giá </label>
                  <input class=" form-control" placeholder="Price" [(ngModel)]="price6" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ghi chú </label>
                  <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi6" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Thứ tự </label>
                  <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no6" type="number" min="1" max="5" />
                </div>
              </div>


            </div>

          </div>
          <!------------------------------>
          <div *ngIf="them >= 7">
            <br /><br />
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nhà cung cấp 7</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Summary" [(ngModel)]="summary7" type="text" />
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Giá </label>
                  <input class=" form-control" placeholder="Giá" [(ngModel)]="price7" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ghi chú </label>
                  <input class=" form-control" placeholder="Ghi chú" [(ngModel)]="giamoi7" type="text" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Thứ tự </label>
                  <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no7" type="number" min="1" max="5" />
                </div>
              </div>


            </div>

          </div>
          <!------------------------------>











        </div>


        <div class=" card-footer" *ngIf="editData.id == null">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="themnhacungcap()" [hidden]="isDisable">Thêm</button>
        </div>

        <div class=" card-footer" [hidden]="isDisable">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="submit()" [hidden]="isDisable">Lưu</button>

          <button class=" btn " style="background:rgba(224, 46, 22, 0.6)" (click)="cancel()"
            [hidden]="isDisable">Hủy</button>
        </div>
      </div>
    </div>

  </div>

</div>