<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title" style="color: orangered; font-weight: bold;">QUẢN LÝ NGƯỜI BÁN
          </h4>
        </div>
        <div class=" card-body">
          <div class="row customer-search">
            <div class="col-3 col-md-3 text-center">
              <input style="margin: 15px; width: 90%;" type="text" placeholder="Tên Tiếng Việt"
                     [(ngModel)]="customerSearch.name" required id="searchName" (keydown.enter)="onSearchCustomer($event)"
                     name="searchName" class=" form-control" />
            </div>
            <div class="col-3 col-md-3 text-center">
              <input style="margin: 15px; width: 90%;" type="text" placeholder="Số Điện Thoại"
                     [(ngModel)]="customerSearch.phone" required id="searchPhone" (keydown.enter)="onSearchCustomer($event)"
                     name="searchPhone" class=" form-control" />
            </div>
            <div class="col-3 col-md-3 text-center">
              <p-calendar
                [inputStyleClass]="'form-control'"
                [styleClass]="'birthday-calendar'"
                placeholder="Ngày Sinh"
                [(ngModel)]="customerSearch.birthday"
                dateFormat="dd-mm-yy"
                (ngModelChange)="onSearchCustomer($event)"
                [ngModelOptions]="{standalone: true}"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="birthdayYearRange"
                #birthdayValidate="ngModel"
              >
              </p-calendar>
            </div>
            <div class="col-3 col-md-3">
              <button type="button" pButton icon="pi pi-plus" iconPos="left" label="THÊM" (click)="navigateToAddCustomer()"
                      style="margin-top: 20px;" class="ui-button-info float-right"></button>
            </div>
          </div>

          <p-table dataKey="id" editMode="row" #tt [columns]="cols" [value]="data" [paginator]="true"
                   [rows]="20" [tableStyle]="{'table-layout':'auto'}">

            <ng-template pTemplate="header" let-columns class=" text-primary">
              <tr>
                <th></th>
                <th>Tên Tiếng Việt</th>
                <th>Tên Tiếng Nhật</th>
                <th>Ngày Sinh</th>
                <th>Tuổi</th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Nghề Nghiệp</th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-rowData let-columns="columns"
                         let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="rowData">
                <td>{{i + 1}}</td>
                <td>{{rowData.name_vietnamese}}</td>
                <td>{{rowData.name_japanese}}</td>
                <td>{{rowData.birthday}}</td>
                <td>{{rowData.age}}</td>
                <td>{{rowData.address}}</td>
                <td>{{rowData.phone}}</td>
                <td>{{rowData.job | jobTitle}}</td>
                <td style="text-align:center">
                  <button (click)="onRowEditInit(rowData)" pButton pRipple type="button"
                          pInitEditableRow icon="pi pi-pencil"
                          class="p-button-rounded p-button-text"></button>

                </td>
                <td style="text-align:center">
                  <button style="background-color: orangered;" pButton type="button"
                          pCancelEditableRow icon="pi pi-trash" class="ui-button-danger"
                          (click)="onRowDelete(rowData,ri)"
                          class="p-button-rounded p-button-text"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

  </div>
</div>
