<div class=" content">

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title" style="color: orangered; font-weight: bold;">ĐƠN THU MUA</h4>
        </div>
        <div class="card-body">
          <form #createAppForm="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()" autocomplete="true" novalidate>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Tên Tiếng Việt </label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Tên Tiếng Việt" type="text"
                         [(ngModel)]="customer.name_vietnamese" required id="name_vietnamese"
                         name="name_vietnamese" #nameVietnameseValidate="ngModel" />

                  <div
                    *ngIf="nameVietnameseValidate.invalid && (nameVietnameseValidate.dirty || nameVietnameseValidate.touched)">
                    <label style="color: #ec250d;"> Tên Tiếng Việt is required.</label>
                  </div>
                </div>

              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Tên Tiếng Nhật </label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Tên Tiếng Nhật" type="text"
                         [(ngModel)]="customer.name_japanese" required id="name_japanese"
                         name="name_japanese" #nameJapaneseValidate="ngModel" />
                  <div
                    *ngIf="nameJapaneseValidate.invalid && (nameJapaneseValidate.dirty || nameJapaneseValidate.touched)">
                    <label style="color: #ec250d;"> Tên Tiếng Nhật is required.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class="form-group">
                  <label> Ngày Sinh</label> <label style="color: #ec250d;"> * &nbsp;</label>
                  <p-calendar
                    [styleClass]="'birthday-calendar'"
                    placeholder="Ngày Sinh"
                    [(ngModel)]="birthday"
                    (ngModelChange)="onChangeBirthday()"
                    [ngModelOptions]="{standalone: true}"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="birthdayYearRange"
                    dateFormat="dd-mm-yy"
                    #birthdayValidate="ngModel"
                  >
                  </p-calendar>
                  <i *ngIf="displaySpinner" class="pi pi-spin pi-spinner" style="font-size: 2rem; color: blue;"></i>
                  <div *ngIf="birthdayValidate.invalid && (birthdayValidate.dirty || birthdayValidate.touched)">
                    <label style="color: #ec250d;"> Ngày Sinh is required.</label>
                  </div>
                  <p-dialog
                    header="Gợi Ý Khách Hàng"
                    [(visible)]="displaySuggestModal"
                    [modal]="true"
                    [style]="{width: '50vw'}"
                    [baseZIndex]="10000"
                    [draggable]="false"
                    [resizable]="false">
                    <p-table
                      [value]="suggestCustomers"
                      [(selection)]="selectedCustomer"
                      selectionMode="single"
                      dataKey="vin"
                      (onRowSelect)="onSelectCustomer($event)"
                      (onRowUnselect)="onUnSelectCustomer($event)"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Tên Tiếng Việt</th>
                          <th>Tên Tiếng Nhật</th>
                          <th>Địa Chỉ</th>
                          <th>SĐT</th>
                          <th>Nghề Nghiệp</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-customer>
                        <tr [pSelectableRow]="customer">
                          <td>{{customer.name_vietnamese}}</td>
                          <td>{{customer.name_japanese}}</td>
                          <td>{{customer.address}}</td>
                          <td>{{customer.phone}}</td>
                          <td>{{customer.job | jobTitle}}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-dialog>
                </div>

              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Tuổi</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Tuổi" type="text" [(ngModel)]="customer.age"
                         disabled id="age" name="age" #age="ngModel" />

                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Địa Chỉ</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Địa Chỉ" type="text"
                         [(ngModel)]="customer.address" required id="address" name="address"
                         #addressValidate="ngModel" />
                  <div
                    *ngIf="addressValidate.invalid && (addressValidate.dirty || addressValidate.touched)">
                    <label style="color: #ec250d;"> Địa Chỉ is required.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Số Điện Thoại</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Số Điện Thoại" type="text"
                         [(ngModel)]="customer.phone" required id="phone" name="phone" #phoneValidate="ngModel"
                         (keypress)="keyPressNumbers($event)" />
                  <div
                    *ngIf="phoneValidate.invalid && (phoneValidate.dirty || phoneValidate.touched)">
                    <label style="color: #ec250d;"> Số Điện Thoại is required.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nghề Nghiệp</label> <label style="color: #ec250d;"> *&nbsp;&nbsp;</label>
                  <p-dropdown [options]="jobs" (onChange)="onChangeJob($event.value)"
                              [(ngModel)]="selectedJobs" optionLabel="label" optionValue="value" required
                              [ngModelOptions]="{standalone: true}" #jobValidate="ngModel">
                  </p-dropdown>
                  <br />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Ngày Bán</label> <label style="color: #ec250d;"> *&nbsp;&nbsp;</label>
                  <p-calendar
                    [styleClass]="'birthday-calendar'"
                    placeholder="Ngày Bán"
                    [(ngModel)]="sale_date"
                    [ngModelOptions]="{standalone: true}"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="birthdayYearRange"
                    dateFormat="dd-mm-yy"
                    #birthdayValidate="ngModel"
                  >
                  </p-calendar>
                  <br />
                </div>
              </div>
            </div>
            <div>
              <div *ngFor="let mobile of mobiles; let i = index">
                <div *ngIf="mobile.invoice_id != -1">
                  <div class=" row" >
                    <div class=" col-md-6 pr-md-1">
                      <div class=" form-group">
                        <label> Thông tin máy {{i + 1}}</label> <label style="color: #ec250d;"> *&nbsp;</label>
                        <button class="btn" type="button" (click)="removeMobile(i)"
                                style="background:rgba(224, 46, 22, 0.6)">Xóa
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class=" row">
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Tên máy </label>
                        <input class=" form-control" placeholder="Tên máy" [(ngModel)]="mobile.name"
                               type="text" id="NameMobile{{i}}" name="NameMobile{{i}}"
                               #NameMobile{{i}}="ngModel" />
                      </div>
                    </div>
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Số imei </label>
                        <input class=" form-control" placeholder="Số imei" [(ngModel)]="mobile.imei"
                               type="text" id="imei{{i}}" name="imei{{i}}" #imei{{i}}="ngModel" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Trạng thái &nbsp;</label>
                        <p-dropdown [options]="status" (onChange)="onChangeStatus($event.value, i)"
                                    [(ngModel)]="mobile.selectedStatus" optionLabel="label" optionValue="value" id="status{{i}}" name="status{{i}}" #status{{i}}="ngModel"
                                    required [ngModelOptions]="{standalone: true}">
                        </p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Màu </label>
                        <input class=" form-control" placeholder="Màu" [(ngModel)]="mobile.color"
                               type="text" id="color{{i}}" name="color{{i}}" #color{{i}}="ngModel" />
                      </div>
                    </div>
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Giá </label>
                        <input class=" form-control" placeholder="Giá" [(ngModel)]="mobile.price"
                               type="text" id="price{{i}}" name="price{{i}}" #price{{i}}="ngModel"
                               (keypress)="keyPressNumbers($event)" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="button" (click)="addMobile()">Thêm</button>
            </div>
            <div class=" card-footer">
              <div class=" col-md-6 pr-md-1">
                <label> Tổng số máy : {{getQuantity}}</label>
                <br />
              </div>
            </div>
            <div class=" card-footer">
              <div class=" col-md-6 pr-md-1">
                <label> Tổng số tiền : {{totalMoney}}</label>
                <br />
              </div>
            </div>


            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit"
                      [disabled]="!createAppForm.valid || !selectedJobs || selectedJobs == '' || selectedJobs == null || !birthday">
                Lưu
              </button>

              <button class=" btn " type="button" style="background:rgba(224, 46, 22, 0.6)" (click)="cancel()"
                      [disabled]="!createAppForm.valid || !selectedJobs || selectedJobs == '' || selectedJobs == null || !birthday">
                Hủy
              </button>
              <button *ngIf="editData.id" class=" btn " type="button" style="background:rgba(224, 46, 22, 0.6)"
                      (click)="delete()">
                Xóa
              </button>
              <button *ngIf="editData.id" class=" btn " type="button" style="background:rgba(27, 202, 85, 0.6)"
                      (click)="exportExcel()">
                Export
              </button>
            </div>
          </form>

        </div>

      </div>


    </div>
  </div>

</div>
