<div class=" content">

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title" style="color: orangered; font-weight: bold;">Khách Hàng</h4>
        </div>
        <div class="card-body">
          <form #createAppForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="false"
                novalidate>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Tên Tiếng Việt </label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Tên Tiếng Việt" type="text"
                         [(ngModel)]="customer.name_vietnamese" required id="name_vietnamese"
                         name="name_vietnamese" #name_vietnamese="ngModel" />

                  <div *ngIf="name_vietnamese.invalid && (name_vietnamese.dirty || name_vietnamese.touched)">
                    <label style="color: #ec250d;"> Tên Tiếng Việt is required.</label>
                  </div>
                </div>

              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Tên Tiếng Nhật </label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Tên Tiếng Nhật" type="text"
                         [(ngModel)]="customer.name_japanese" required id="name_japanese"
                         name="name_japanese" #name_japanese="ngModel" />
                  <div *ngIf="name_vietnamese.invalid && (name_vietnamese.dirty || name_vietnamese.touched)">
                    <label style="color: #ec250d;"> Tên Tiếng Nhật is required.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Ngày Sinh</label> <label style="color: #ec250d;"> *</label>
                  <p-calendar
                    [styleClass]="'birthday-calendar'"
                    placeholder="Ngày Sinh"
                    [(ngModel)]="birthday"
                    dateFormat="dd-mm-yy"
                    (ngModelChange)="birthdayChange()"
                    [ngModelOptions]="{standalone: true}"
                    [monthNavigator]="true"
                    [yearNavigator]="true"
                    [yearRange]="birthdayYearRange"
                  >
                  </p-calendar>
                  <div *ngIf="!birthday">
                    <label style="color: #ec250d;"> Ngày Sinh is required.</label>
                  </div>
                </div>

              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Tuổi</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Tuổi" type="text" [(ngModel)]="customer.age"
                         disabled id="age" name="age" #age="ngModel" />

                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Địa chỉ</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="Địa chỉ" type="text"
                         [(ngModel)]="customer.address" required id="address" name="address"
                         #address="ngModel" />
                  <div *ngIf="name_vietnamese.invalid && (name_vietnamese.dirty || name_vietnamese.touched)">
                    <label style="color: #ec250d;"> Địa chỉ is required.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> SDT</label> <label style="color: #ec250d;"> *</label>
                  <input class=" form-control" placeholder="SDT" type="number" [(ngModel)]="customer.phone"
                         required id="phone" name="phone" #phone="ngModel" />
                  <div *ngIf="name_vietnamese.invalid && (name_vietnamese.dirty || name_vietnamese.touched)">
                    <label style="color: #ec250d;"> SDT is required.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nghề Nghiệp</label> <label style="color: #ec250d;"> *</label>
                  <p-dropdown [options]="jobs" (onChange)="onChangeJob($event.value)"
                              [(ngModel)]="selectedJobs" optionLabel="label" optionValue="value" required
                              [ngModelOptions]="{standalone: true}">
                  </p-dropdown>
                  <div *ngIf="!selectedJobs || selectedJobs.value === '' || selectedJobs === null">
                    <label style="color: #ec250d;"> Nghề Nghiệp is required.</label>
                  </div>
                  <br />
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit"
                      [disabled]="!createAppForm.valid || !selectedJobs || selectedJobs == '' || selectedJobs == null || !birthday">
                Lưu
              </button>

              <button class=" btn " type="button" style="background:rgba(224, 46, 22, 0.6)" (click)="onCancel()"
                      [disabled]="!createAppForm.valid || !selectedJobs || selectedJobs == '' || selectedJobs == null || !birthday"
              >Hủy
              </button>
            </div>
          </form>
        </div>


      </div>


    </div>
  </div>

</div>
